<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Todo rakendus</title>
</head>
<body>
    <div id="message" tpl-if="$message">
        <p>{{ $message }}</p>
    </div>

    <div id="errors" tpl-if="$errors">
        <ul>
            <li tpl-foreach="$errors as $error">
               {{ $error }}
            </li>
        </ul>
    </div>

    <div id="add-item" tpl-include="tpl/add.html"></div>
    <div id="delete-all" tpl-include="tpl/delete_all.html"></div>
    <div id="todo-list" tpl-include="tpl/todo_list.html"></div>
</body>
</html>