<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Todo
        </th>
        <th>
            Lisamise kp.
        </th>
    </tr>
    </thead>
    <tbody>
    <tr tpl-foreach="$todoItems as $todoItem">
        <td>
            {{ $todoItem->id }}
        </td>
        <td>
            {{ $todoItem->name }}
        </td>
        <td>
            {{ $todoItem->dateAdded }}
        </td>
        <td>
            <form method="post" action="?cmd=delete">
                <input type="hidden" name="id" value="{{ $todoItem->id }}"/>
                <input type="submit" value="Eemalda"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
